In [2]:
import numpy as np
import pandas as pd

In [6]:
url = 'https://data.humdata.org/dataset/c01ed1c1-5356-4b5a-90e5-db3ac7e91877/resource/a4f08188-acdf-453a-9eb7-d209b3e9224f/download/private-sector_bra.csv'

In [7]:
from_url = pd.read_table(url, sep=',')

In [31]:
from_url.head()

   Year                Indicator Name     Indicator Code             Value
1  2021  Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS  5.18582004031785
2  2020  Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS  5.39104317158194
3  2019  Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS   5.5538628716248
4  2018  Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS  5.56914413270738
5  2017  Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS  5.19695078203875

In [ ]:
data = {i:[] for i in np.unique(from_url['Indicator Name'])}

In [51]:
from_url[from_url['Indicator Name'] == 'Trade in services (% of GDP)'].to_dict()

{'Year': {1: '2021',
  2: '2020',
  3: '2019',
  4: '2018',
  5: '2017',
  6: '2016',
  7: '2015',
  8: '2014',
  9: '2013',
  10: '2012',
  11: '2011',
  12: '2010',
  13: '2009',
  14: '2008',
  15: '2007',
  16: '2006',
  17: '2005',
  18: '2004',
  19: '2003',
  20: '2002',
  21: '2001',
  22: '2000',
  23: '1999',
  24: '1998',
  25: '1997',
  26: '1996',
  27: '1995',
  28: '1994',
  29: '1993',
  30: '1992',
  31: '1991',
  32: '1990',
  33: '1989',
  34: '1988',
  35: '1987',
  36: '1986',
  37: '1985',
  38: '1984',
  39: '1983',
  40: '1982',
  41: '1981',
  42: '1980',
  43: '1979',
  44: '1978',
  45: '1977',
  46: '1976',
  47: '1975'},
 'Indicator Name': {1: 'Trade in services (% of GDP)',
  2: 'Trade in services (% of GDP)',
  3: 'Trade in services (% of GDP)',
  4: 'Trade in services (% of GDP)',
  5: 'Trade in services (% of GDP)',
  6: 'Trade in services (% of GDP)',
  7: 'Trade in services (% of GDP)',
  8: 'Trade in services (% of GDP)',
  9: 'Trade in services (% of GDP)',
  10: 'Trade in services (% of GDP)',
  11: 'Trade in services (% of GDP)',
  12: 'Trade in services (% of GDP)',
  13: 'Trade in services (% of GDP)',
  14: 'Trade in services (% of GDP)',
  15: 'Trade in services (% of GDP)',
  16: 'Trade in services (% of GDP)',
  17: 'Trade in services (% of GDP)',
  18: 'Trade in services (% of GDP)',
  19: 'Trade in services (% of GDP)',
  20: 'Trade in services (% of GDP)',
  21: 'Trade in services (% of GDP)',
  22: 'Trade in services (% of GDP)',
  23: 'Trade in services (% of GDP)',
  24: 'Trade in services (% of GDP)',
  25: 'Trade in services (% of GDP)',
  26: 'Trade in services (% of GDP)',
  27: 'Trade in services (% of GDP)',
  28: 'Trade in services (% of GDP)',
  29: 'Trade in services (% of GDP)',
  30: 'Trade in services (% of GDP)',
  31: 'Trade in services (% of GDP)',
  32: 'Trade in services (% of GDP)',
  33: 'Trade in services (% of GDP)',
  34: 'Trade in services (% of GDP)',
  35: 'Trade in services (% of GDP)',
  36: 'Trade in services (% of GDP)',
  37: 'Trade in services (% of GDP)',
  38: 'Trade in services (% of GDP)',
  39: 'Trade in services (% of GDP)',
  40: 'Trade in services (% of GDP)',
  41: 'Trade in services (% of GDP)',
  42: 'Trade in services (% of GDP)',
  43: 'Trade in services (% of GDP)',
  44: 'Trade in services (% of GDP)',
  45: 'Trade in services (% of GDP)',
  46: 'Trade in services (% of GDP)',
  47: 'Trade in services (% of GDP)'},
 'Indicator Code': {1: 'BG.GSR.NFSV.GD.ZS',
  2: 'BG.GSR.NFSV.GD.ZS',
  3: 'BG.GSR.NFSV.GD.ZS',
  4: 'BG.GSR.NFSV.GD.ZS',
  5: 'BG.GSR.NFSV.GD.ZS',
  6: 'BG.GSR.NFSV.GD.ZS',
  7: 'BG.GSR.NFSV.GD.ZS',
  8: 'BG.GSR.NFSV.GD.ZS',
  9: 'BG.GSR.NFSV.GD.ZS',
  10: 'BG.GSR.NFSV.GD.ZS',
  11: 'BG.GSR.NFSV.GD.ZS',
  12: 'BG.GSR.NFSV.GD.ZS',
  13: 'BG.GSR.NFSV.GD.ZS',
  14: 'BG.GSR.NFSV.GD.ZS',
  15: 'BG.GSR.NFSV.GD.ZS',
  16: 'BG.GSR.NFSV.GD.ZS',
  17: 'BG.GSR.NFSV.GD.ZS',
  18: 'BG.GSR.NFSV.GD.ZS',
  19: 'BG.GSR.NFSV.GD.ZS',
  20: 'BG.GSR.NFSV.GD.ZS',
  21: 'BG.GSR.NFSV.GD.ZS',
  22: 'BG.GSR.NFSV.GD.ZS',
  23: 'BG.GSR.NFSV.GD.ZS',
  24: 'BG.GSR.NFSV.GD.ZS',
  25: 'BG.GSR.NFSV.GD.ZS',
  26: 'BG.GSR.NFSV.GD.ZS',
  27: 'BG.GSR.NFSV.GD.ZS',
  28: 'BG.GSR.NFSV.GD.ZS',
  29: 'BG.GSR.NFSV.GD.ZS',
  30: 'BG.GSR.NFSV.GD.ZS',
  31: 'BG.GSR.NFSV.GD.ZS',
  32: 'BG.GSR.NFSV.GD.ZS',
  33: 'BG.GSR.NFSV.GD.ZS',
  34: 'BG.GSR.NFSV.GD.ZS',
  35: 'BG.GSR.NFSV.GD.ZS',
  36: 'BG.GSR.NFSV.GD.ZS',
  37: 'BG.GSR.NFSV.GD.ZS',
  38: 'BG.GSR.NFSV.GD.ZS',
  39: 'BG.GSR.NFSV.GD.ZS',
  40: 'BG.GSR.NFSV.GD.ZS',
  41: 'BG.GSR.NFSV.GD.ZS',
  42: 'BG.GSR.NFSV.GD.ZS',
  43: 'BG.GSR.NFSV.GD.ZS',
  44: 'BG.GSR.NFSV.GD.ZS',
  45: 'BG.GSR.NFSV.GD.ZS',
  46: 'BG.GSR.NFSV.GD.ZS',
  47: 'BG.GSR.NFSV.GD.ZS'},
 'Value': {1: '5.18582004031785',
  2: '5.39104317158194',
  3: '5.5538628716248',
  4: '5.56914413270738',
  5: '5.19695078203875',
  6: '5.40768291560893',
  7: '5.80368271828139',
  8: '5.21588328275057',
  9: '4.95045209477305',
  10: '4.7824027098242',
  11: '4.2504870223547',
  12: '4.14563057288334',
  13: '4.30399075666521',
  14: '4.40080510442265',
  15: '4.19273714999376',
  16: '4.16825153699517',
  17: '4.3153769998465',
  18: '4.25738889684959',
  19: '4.41862638615004',
  20: '4.50158805524155',
  21: '4.49741878932213',
  22: '3.77530058604188',
  23: '3.31781579465727',
  24: '2.85162418197569',
  25: '2.6016443001517',
  26: '2.05508663909512',
  27: '2.56910746223881',
  28: '2.88596689759251',
  29: '3.6725916549725',
  30: '3.50957437651623',
  31: '3.07318051114753',
  32: '2.88821598814643',
  33: '2.60756952179299',
  34: '2.92910651637001',
  35: '2.63895806252312',
  36: '2.87430022516944',
  37: '3.33629111539708',
  38: '2.996177538713',
  39: '3.08716010516239',
  40: '2.65596208760107',
  41: '2.86921108698813',
  42: '2.78356411668598',
  43: '2.38277888464179',
  44: '2.20892246159393',
  45: '2.26829248509016',
  46: '2.36405617373393',
  47: '2.75843802704353'}}

In [30]:
NewData = pd.DataFrame()

2018    147
2016    147
2014    146
2019    138
2017    138
       ...
1964     37
1962     37
2021     30
1961     27
1960     27
Name: Year, Length: 62, dtype: int64

In [54]:
from_url.describe()

        Year                Indicator Name     Indicator Code Value
count   4727                          4727               4727  4727
unique    62                           168                168  4085
top     2018  Merchandise trade (% of GDP)  TG.VAL.TOTL.GD.ZS   100
freq     147                            62                 62    81

In [3]:
mls = pd.read_csv('Datasets/mlsSalaries copy.csv')

In [4]:
mls.describe()

        base_salary  guaranteed_compensation
count  6.160000e+02             6.160000e+02
mean   2.969777e+05             3.261392e+05
std    6.715792e+05             7.480007e+05
min    5.299992e+04             5.299992e+04
25%    6.563130e+04             6.990325e+04
50%    1.250000e+05             1.350020e+05
75%    2.553750e+05             2.809390e+05
max    6.660000e+06             7.167500e+06